.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    margin: 140px auto 20px auto;
  }
  
  .main > h1 {
    position: absolute;
    top: 0;
    left: 30px;
  }
  
  .inputContainer {
    width: 90%;
    position: relative;
  }
  
  input {
    font-family: "Oswald", sans-serif;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(240, 240, 250);
    font-size: 1.5rem;
    border-radius: 6px;
    overflow: hidden;
  }
  
  input:focus {
    box-shadow: 0 0 0 1px rgb(220,220,255);
  }
  
  .searchIcon {
    z-index: 10;
    position: absolute;
    height: 64%;
    aspect-ratio: 1;
    padding: 10px;
    top: 0;
    left: 100%;
    transform: translate(-100%);
    background-color: rgb(0, 0, 150, 0.05);
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  @media (max-width: 600px) {

    .main{
      width: 320px;
      margin: 0 auto 20px auto;
    }
  
    .inputContainer{
      width: 100%;
    }
  
    input {
      width: 100%;
    }
}