.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    margin: 140px auto 20px auto;
  }
  
  .main > h1 {
    position: absolute;
    top: 0;
    left: 30px;
  }
  
  .inputContainer {
    width: 90%;
    position: relative;
    height: 50px;
  }
  
  input {
    font-family:sans-serif;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(240, 240, 250);
    font-size: 1.5rem;
    border-radius: 6px;
    position: relative;
    height: 100%;
    padding: 0;
  }
  
  input:focus {
    box-shadow: 0 0 0 1px rgb(230,230,245);
  }

  .searchIconContainer {
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(0, 0, 150, 0.05);
    background-color: rgb(230,230,245);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchIcon {
    width: 35px;
  }

  @media (max-width: 600px) {

    .main{
      width: 320px;
      margin: 0 auto 20px auto;
    }
  
    .inputContainer{
      width: 100%;
    }
  
    input {
      width: 100%;
    }
}