.buttons {
    margin-top: 10px;
  }
  
  .buttons > button {
    font-family: "Oswald", sans-serif;
    padding: 10px 30px;
    margin: 10px;
    background-color: rgb(255, 0, 90);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    width: 120px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .buttons > button:active {
    top: 2px;
  }
  
  button > span {
    z-index: 5;
    position: relative;
  }
  
  .hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background-color: rgb(0, 0, 0, 0.2);
    transition: width 0.2s;
  }
  
  .buttons > button:last-of-type {
    background-color: rgb(180, 70, 255);
  }