.synonyms {
    background-color: teal;
    color: white;
    width: 400px;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .synonyms > h2 {
    margin: 5px;
  }
  
  .synonyms:last-of-type {
    background-color: rgb(200, 100, 50);
  }
  
  .synonymsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 300px;
  }
  
  .synonymsList > button {
    color:white;
    background-color: rgb(0, 0, 0, 0.3);
    width: fit-content;
    width: 110px;
    margin: 10px auto;
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: .8rem;
  }
  
  .synonymsList > button:hover {
    background-color: rgb(0, 0, 0, 0.4);
  }

  @media(max-width: 600px){
    .def{
        width: 280px;
      }
    
      .results {
        flex-direction: column;
        width: 100%;
      }
    
      .synonyms {
        width: 280px;
      }
  }